NODE_ENV="development"
SITE_URL="http://localhost:3000"
API_VERSION="1"
SECRET=""
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/skeleton"
REDIS_CONNECTION_STRING=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""

