Hello <%= name.first %>, welcome!
<br/><br/>
You can login at our <a href="<%= process.env.SITE_URL %>">site</a> using the following credentials:<br/>
Username: <b><%= email %></b><br/>
Password: <b><%= password %></b><br/>
