<p>Hello, <%= userName %>!</p>

<p>
To change the password associated with <b><%= email %></b> as requested, please visit
<a href="<%= url %>"><%= url %></a>
</p>

<p>
  The link expires in about an hour, and can be used only once.
</p>
<p>
  If you didn't request to change your password, please ignore this email.
</p>